Package: com.oakstheawesome.whatamess
Name: WhatAMess
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: OaksTheAwesome
Author: OaksTheAwesome
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.spark.libsparkcolourpicker
