Package: com.oakstheawesome.whatamess
Name: WhatAMess
Version: 1.0
Architecture: iphoneos-arm
Description: Messy, messy Messages.
Depiction: https://oakstheawesometweaks.github.io/repo/depictions/?p=com.oakstheawesome.whatamess
Maintainer: OaksTheAwesome
Author: OaksTheAwesome
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)