Package: com.oakstheawesome.whatamess
Name: WhatAMess
Version: 1.0
Architecture: iphoneos-arm
Description: Messy, messy Messages.
Maintainer: OaksTheAwesome
Author: OaksTheAwesome
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)