<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Background</string>
			<key>footerText</key>
			<string>Again, it's recommended to only use the color or image background. I'm not your dad though so do as you please.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Color Background</string>
			<key>key</key>
			<string>isChatColorBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Background Color</string>
			<key>action</key>
			<string>pickChatBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Image Background</string>
			<key>footerText</key>
			<string>This slider controls the blur of the image.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Image Background</string>
			<key>key</key>
			<string>isChatImageBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Pick Background Image</string>
			<key>action</key>
			<string>pickChatBgImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Image Blur Amount</string>
			<key>key</key>
			<string>chatImageBlurAmount</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Message Bubbles</string>
			<key>footerText</key>
			<string>Settings to customize the message bubbles in chats.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Chat Bubble Settings</string>
			<key>detail</key>
			<string>WAMChatBubbleController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Message Bar</string>
			<key>footerText</key>
			<string>Setings to customize the message bar.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Message Bar Settings</string>
			<key>detail</key>
			<string>WAMMessageBarController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Camera/App Drawer Buttons</string>
			<key>footerText</key>
			<string>Your mileage for these features may vary on iOS 17.</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<false/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isMessageBarButtonsEnabled</string>
    		<key>label</key>
    		<string>Enable Camera/App Drawer Tint</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Camera/App Drawer Button Color</string>
    		<key>action</key>
    		<string>pickMessageBarButtonColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Misc.</string>
			<key>footerText</key>
			<string>Customize the color and text color of message link bubbles.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Link Bubble Background Color</string>
			<key>action</key>
			<string>pickLinkPreviewBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Link Bubble Text</string>
			<key>action</key>
			<string>pickLinkPreviewTextColor</string>
		</dict>
	</array>
	<key>title</key>
	<string>Chat View Settings</string>
</dict>
</plist>