<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Color Background</string>
			<key>key</key>
			<string>isChatColorBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Background Color</string>
			<key>action</key>
			<string>pickChatBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Image Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Image Background</string>
			<key>key</key>
			<string>isChatImageBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Pick Background Image</string>
			<key>action</key>
			<string>pickChatBgImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Image Blur Amount</string>
			<key>key</key>
			<string>chatImageBlurAmount</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Message Bubbles</string>
		</dict>
		<dict>
   			<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<false/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isCustomBubbleColorsEnabled</string>
    		<key>label</key>
    		<string>Custom Bubble Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Recieved Messages</string>
			<key>action</key>
			<string>pickReceivedBubbleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sent iMessages</string>
			<key>action</key>
			<string>pickSentBubbleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sent SMS Messages</string>
			<key>action</key>
			<string>pickSMSSentBubbleColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Received Text Color</string>
    		<key>action</key>
    		<string>pickReceivedTextColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Sent iMessage Text Color</string>
    		<key>action</key>
    		<string>pickSentTextColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Sent SMS Text Color</string>
    		<key>action</key>
    		<string>pickSMSSentTextColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Timestamp Colors</string>
    		<key>action</key>
    		<string>pickTimestampTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Modern Message Bar</string>
			<key>footerText</key>
			<string>Enables a redesigned view behind the message bar, providing a gradient that blurs content closer to the bottom of the screen. Similar to the Modern NavBar. </string>
		</dict>
		<dict>
  			<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<true/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isModernMessageBarEnabled</string>
    		<key>label</key>
    		<string>Modern Message Bar</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSGroupCell</string>
    		<key>label</key>
    		<string>Message Input Field</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<true/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isInputFieldCustomizationEnabled</string>
    		<key>label</key>
    		<string>Input Field Customization</string>
    		<key>PostNotification</key>
    		<string>com.oakstheawesome.whatamessprefs/ReloadPrefs</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Input Field Background Color</string>
    		<key>action</key>
    		<string>pickInputFieldBackgroundColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<false/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isInputFieldBlurEnabled</string>
    		<key>label</key>
    		<string>Enable Blur Background</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSLinkListCell</string>
    		<key>default</key>
    		<string>regular</string>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>detail</key>
    		<string>PSListItemsController</string>
    		<key>key</key>
    		<string>inputFieldBlurStyle</string>
    		<key>label</key>
   		    <string>Blur Style</string>
    		<key>validValues</key>
    		<array>
       		<string>regular</string>
        		<string>light</string>
        		<string>dark</string>
        		<string>ultraThinLight</string>
        		<string>ultraThinDark</string>
    		</array>
    		<key>validTitles</key>
    		<array>
        		<string>Regular</string>
        		<string>Light</string>
        		<string>Dark</string>
        		<string>Ultra Thin Light</string>
        		<string>Ultra Thin Dark</string>
    		</array>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<false/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isPlaceholderCustomizationEnabled</string>
    		<key>label</key>
    		<string>Customize Placeholder Text</string>
    		<key>PostNotification</key>
    		<string>com.oakstheawesome.whatamessprefs/ReloadPrefs</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Placeholder Text Color</string>
    		<key>action</key>
    		<string>pickPlaceholderTextColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSEditTextCell</string>
    		<key>default</key>
    		<string></string>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>placeholderText</string>
    		<key>label</key>
    		<string>Placeholder Text</string>
    		<key>placeholder</key>
    		<string>iMessage</string>
    		<key>PostNotification</key>
    		<string>com.oakstheawesome.whatamessprefs/ReloadPrefs</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<false/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isMessageInputTextEnabled</string>
    		<key>label</key>
    		<string>Enable Input Text Customization</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Input Text Color</string>
    		<key>action</key>
    		<string>pickMessageInputTextColor</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSSwitchCell</string>
    		<key>default</key>
    		<false/>
    		<key>defaults</key>
    		<string>com.oakstheawesome.whatamessprefs</string>
    		<key>key</key>
    		<string>isMessageBarButtonsEnabled</string>
    		<key>label</key>
    		<string>Enable Camera/App Drawer Tint</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSButtonCell</string>
    		<key>label</key>
    		<string>Camera/App Drawer Button Color</string>
    		<key>action</key>
    		<string>pickMessageBarButtonColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Link Bubble Background Color</string>
			<key>action</key>
			<string>pickLinkPreviewBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Link Bubble Text</string>
			<key>action</key>
			<string>pickLinkPreviewTextColor</string>
		</dict>
	</array>
	<key>title</key>
	<string>Chat View Settings</string>
</dict>
</plist>