<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Color Background</string>
			<key>key</key>
			<string>isConvColorBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Background Color</string>
			<key>action</key>
			<string>pickBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Cell Color</string>
			<key>action</key>
			<string>pickCellColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Image Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Image Background</string>
			<key>key</key>
			<string>isConvImageBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Pick Background Image</string>
			<key>action</key>
			<string>pickConvListBgImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Image Blur Amount</string>
			<key>key</key>
			<string>imageBlurAmount</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Custom Text Colors</string>
			<key>key</key>
			<string>isCustomTextColorsEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Title Color</string>
			<key>action</key>
			<string>pickTitleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Message Preview Color</string>
			<key>action</key>
			<string>pickMessagePreviewColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Date/Time Color</string>
			<key>action</key>
			<string>pickDateTimeColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Main Message Title</string>
			<key>key</key>
			<string>conversationListTitleText</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<string>Messages</string>
			<key>placeholder</key>
			<string>Enter Custom Title</string>
			<key>keyboardType</key>
			<string>Alphabet</string>
			<key>autocapitalizationType</key>
			<string>Sentences</string>
			<key>autocorrectionType</key>
			<string>No</string>
			<key>returnKeyType</key>
			<string>Done</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose NavBar Title Color</string>
			<key>action</key>
			<string>openConversationListTitleColorPicker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable/Disable Items</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Separators</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isSeparatorsEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Search Background</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isSearchBgEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Pinned Convo Glow</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isPinnedGlowEnabled</string>
		</dict>
	</array>
	<key>title</key>
	<string>Conversation List Settings</string>
</dict>
</plist>