<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Background</string>
			<key>footerText</key>
			<string>It's recommended to only use EITHER the color background or the image background. Having both toggled on at once may be visually unappealing. (Not to mention slightly more intensive.)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Color Background</string>
			<key>key</key>
			<string>isConvColorBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Pinned Background Color</string>
			<key>action</key>
			<string>pickBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Cell Background Color</string>
			<key>action</key>
			<string>pickCellColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Image Background</string>
			<key>footerText</key>
			<string>This slider controls the blur of the image.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Image Background</string>
			<key>key</key>
			<string>isConvImageBgEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Pick Background Image</string>
			<key>action</key>
			<string>pickConvListBgImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Image Blur Amount</string>
			<key>key</key>
			<string>imageBlurAmount</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text Colors</string>
			<key>footerText</key>
			<string>Title color affects both pinned and conversation list titles. Date/Time color also affects chevrons. </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Custom Text Colors</string>
			<key>key</key>
			<string>isCustomTextColorsEnabled</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Title Color</string>
			<key>action</key>
			<string>pickTitleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Message Preview Color</string>
			<key>action</key>
			<string>pickMessagePreviewColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Date/Time Color</string>
			<key>action</key>
			<string>pickDateTimeColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pinned Conversation Preview Bubbles</string>
			<key>footerText</key>
			<string>Changes the bubble and text color of pinned conversation preview/unread bubbles. If left unchanged, the bubble defaults to the chosen recieved bubble color and text color in the chat view.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Bubble Color</string>
			<key>action</key>
			<string>pickPinnedBubbleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Bubble Text Color</string>
			<key>action</key>
			<string>pickPinnedBubbleTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NavBar Title</string>
			<key>footerText</key>
			<string>Controls the "Messages" title in the Navigation Bar. Leave title field blank for the default title.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>NavBar Title Text</string>
			<key>key</key>
			<string>conversationListTitleText</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>default</key>
			<string>Messages</string>
			<key>placeholder</key>
			<string>Messages</string>
			<key>keyboardType</key>
			<string>Alphabet</string>
			<key>autocapitalizationType</key>
			<string>Sentences</string>
			<key>autocorrectionType</key>
			<string>No</string>
			<key>returnKeyType</key>
			<string>Done</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose NavBar Title Color</string>
			<key>action</key>
			<string>openConversationListTitleColorPicker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Misc. Enable/Disable Items</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Separators</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isSeparatorsEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Search Background</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isSearchBgEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Pinned Convo Glow</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isPinnedGlowEnabled</string>
		</dict>
	</array>
	<key>title</key>
	<string>Conversation List Settings</string>
</dict>
</plist>